<div class="card">
<app-contribution-carousel [data]="contribution"></app-contribution-carousel>
  <div class="card-body">
    <h5 class="card-title">#Entry {{ contribution.id }} <small class="text-muted float-right">{{ contribution.platform.device }}</small></h5>
  </div>
  <ul class="list-group list-group-flush">
    <ng-container *ngFor="let observation of contribution.landobservations">
      <li class="list-group-item text-capitalize" *ngFor="let item of observation | keyvalue"><b>{{ item.key }}:</b> {{ item.value }}</li>
    </ng-container>
  </ul>
  <div class="card-footer">
    <small class="text-muted"><b>Uploaded:</b> {{ contribution.timestamp | date:'mediumDate' }}</small>
    <div>
      <button class="btn btn-primary " (click)="selectedContribution(contribution)">Evaluate</button>
    </div>
  </div>
</div>