<div class="main-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline mr-auto" style="width: 100%; max-width: 360px">
        <input class="form-control mr-sm-2" type="search" placeholder="Type to search" aria-label="Search" style="width: 100%;">
        <i class="fas fa-search"></i>
      </form>
      <div class="mx-auto">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Contribution</button>
      </div>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item d-flex">
          <div class="user-pics">
            <img src="../../../assets/icon.png" alt="User Profile">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a class="nav-link user-profile-name">Administrator</a>
                </button>
              <div class="arrow_div"></div>
              <div class="dropdown-content">
                <a href="#"> Profile</a>
                <a href="#"> Account</a>
                <a href="#"> Settings</a>
                <a (click)="logout()" *ngIf="auth.loggedIn"> Logout</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>