<nav id="sidebar" class="sidebar">
  <div class="main-navbar">
    <div class="sidebar-header">
      <div class="logo-image"><img src="../../../assets/logo.png" alt="FotoQuest GO"></div>
    </div>
    <ul class="list-unstyled sidebar-components">
      <li class="active">
        <a href="#" id="contributions">
          <h5 class="sidebar-links">Contributions</h5>
        </a>
      </li>
      <li>
        <a href="#" id="Evaluations">
          <h5 class="sidebar-links">Evaluations</h5>
        </a>
      </li>
      <li>
        <a href="#" id="Logout">
          <h5 class="sidebar-links">Logout</h5>
        </a>
      </li>
    </ul>
  </div>
</nav>