<div class="container-fluid" id="container">

  <!-- Content Header -->
  <div class="row">
    <div class="col-md-12 manage-contributions">
      <h3>Manage Contributions</h3>
      <app-filter (onFilter)="onFilterSelected($event)"></app-filter>
    </div>
  </div>
  <!-- End of Content Header -->

  <!-- Listing Content -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="row loading-indicator" *ngIf="loading">
            <div class="col-12">
              <img src="../../../assets/loader.gif" alt="Loading Indicator">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4" *ngFor="let contribution of contributions let i = index;">
              <app-contribution [data]="contribution"></app-contribution>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Listing Content -->

  </div>