#container {
    padding-top: 15px;
    h3 {
        color: #094e70;
        padding-bottom: 15px;
    }
    .card-deck {
        .row {
            padding-bottom: 15px;
            p{
                font-size: 14px;
            }
        }
    }
}
