#container {
    padding-left: 30px;
    padding-right: 30px;
    h3 {
        color: #094e70;
        margin-bottom: 0;
    }
    .manage-contributions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        label {
            margin-right: 15px;
        }
    }
    .form-control{
        font-size: 15px;
        label {
            font-size: 15px;
        }
        &:focus {
            color: #495057;
            border-color: #042738;
            box-shadow: none;
        }
    }
    .card-deck {
        .row {
            padding-bottom: 15px;
            p{
                font-size: 14px;
            }
        }
    }
    .slider-item {
        img {
            max-width: 100%;
        }
    }
    .contribution-image {
        width: 100%;
    }
    .card {
        margin-bottom: 20px;
        .card-body {
            padding: 0;
        }
        .card-footer {
            border-top: transparent;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        li {
            padding: 10px;
            border-bottom: 1px solid #dfe0e4;
            margin-bottom: 0;
            width: 50%;
            min-width: auto;
            white-space: nowrap;
            float: left;
            color: #565662;
            position: relative;
            font-size: 13px;
            overflow-x: hidden;
            &:nth-child(odd):after {
                content: "";
                display: block;
                width: 1px;
                height: 100%;
                background: #dfe0e4;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .btn-primary {
        color: #fff;
        background-color: #094e70;
        border-color: #094e70;
        font-size: 12px;
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: none;
    }
    .btn-primary.focus, .btn-primary:focus {
        box-shadow: none;
    }
}
