#container {
    padding-left: 30px;
    padding-right: 30px;
    h3 {
        color: #094e70;
        margin-bottom: 0;
    }
    .loading-indicator {
        height: 65vh;
        .col-12 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .manage-contributions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .form-control{
        font-size: 15px;
        label {
            font-size: 15px;
        }
        &:focus {
            color: #495057;
            border-color: #042738;
            box-shadow: none;
        }
    }
    .slider-item {
        img {
            max-width: 100%;
        }
    }
    .contribution-image {
        width: 100%;
    }
    .btn-primary {
        color: #fff;
        background-color: #094e70;
        border-color: #094e70;
        font-size: 12px;
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: none;
    }
    .btn-primary.focus, .btn-primary:focus {
        box-shadow: none;
    }
    @media(max-width: 580px) {
        .manage-contribution{
            display: block;
            h3 {
                margin-bottom: 20px;
            }
        }
    }
}